html
    link(rel='stylesheet', href='/stylesheets/post.css')
    head
        title Find Post
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    body
        nav(class="nav")
            ul(class="navbar__menu")
                a(href="../tutorList/") TutorList
                a(href="../post/") question Post
                a(href="./") Find Post
                a(href="../tutoringList/") Tutoring List
                a(href="../requestList/") request List
        div(class="postBox")
            div(class="postArea")
                for item in rows
                    div(id = "#{item.id}" class="postList" onClick="showDetail(id)")
                        div(class="postline1")
                            h2 #{item.id}
                            h4 #{item.title}
                        div(class="postline2")
                            h4 #{item.content}
                            h5 작성자 : #{item.nickname}
            div(class="writeArea")
                button(class="write")
                    a(href="./write") Write
            
    script(type="text/javascript").
        const showDetail = (id) => {
                document.location.href = "./postDetail?post_id="+id;
        }   
