html
    link(rel='stylesheet', href='/stylesheets/postDetail.css')
    head
        title Post List
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        nav(class="nav")
            ul(class="navbar__menu")
                div(class="home")
                    a(href="../")
                        img(src="https://i.ibb.co/mzbZKrX/home-page.png" alt="home" style="width:30px;height:30px;")
                div(class="menu_group")
                    div(class="other")
                        a(id="1" href="../tutorList/") 튜터 찾기
                    div(class="other")
                        a(id="2" href="../post/") 질문/답변
                    div(class="current") 
                        a(id="3" href="./") 찾아요
                    div(class="other")
                        a(id="4" href="../tutoringList/") 멘토링 목록
                    div(class="other")
                        a(id="5" href="../requestList/") 받은 요청
                    div(class="other")
                        a(id="6" href="../sendList/") 보낸 요청
        div(class="Post")
            div(class="boardLine")
                h4 #{rows[0].title}
                div(class="otherArea")
                    h2 #{rows[0].nickname}
                    div(class="translate" style="margin-left:50%;")
                        img(src="https://i.ibb.co/ypQQV2L/france.png" style="margin-right:10px;width:25px;height:25px;" onClick="transToFR()")
                        img(src="https://i.ibb.co/6JY4t20/china.png" style="margin-right:10px;width:25px;height:25px;" onClick="transToCN()")
                        img(src="https://i.ibb.co/yp5C8MF/vietnam.png" style="margin-right:10px;width:25px;height:25px;" onClick="transToVi()")
            div(class="contentArea")
                h4(id="conetentText") #{rows[0].content}
            div(class="replyArea")
                h2 댓글
                div(class="reply")
                    h2 #{username}
                    div(class="replybox")
                        input(id="reply" placeholder="댓글을 입력해주세요.")
                        button(id="replyBtn") 
                            h4 등록

    script(type="text/javascript").
        const transToCN = () => {
                var text = document.querySelector('div.contentArea h4').innerText;
                console.log(text);
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'zh-CN',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText;
                        document.querySelector('div.contentArea h4').innerText = list;
                })
            }
            const transToVi = () => {
                var text = document.querySelector('div.contentArea h4').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'vi',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText;
                        document.querySelector('div.contentArea h4').innerText = list;
                })
            }
        const transToFR = () => {
            var title = document.querySelector('div.boardLine h4').innerText;
            var text = document.querySelector('div.contentArea h4').innerText;
            var fullText = title + '\n' + text;
                console.log(text);
                axios.get('http://localhost:3000/translate',{
                    method: 'POST',
                    params: {
                        target : 'fr',
                        text : fullText
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    var list = response.data.message.result.translatedText.split('\n');
                    document.querySelector('div.boardLine h4').innerText = list[0];
                    document.querySelector('div.contentArea h4').innerText = list[1];
            })
        }
        const testTrans = () => {
            var lang = "#{lang}"
            if(lang=="China") {
               var text = document.querySelector('div.menu_group').innerText;
               var reply = document.querySelector('div.replyArea h2').innerText;
               var replyInput = document.querySelector('div.replybox input').placeholder;
               var replyBtn = document.querySelector('div.replybox button h4').innerText;
                axios.get('http://localhost:3000/translate',{
                    method: 'POST',
                    params: {
                        target : 'zh-CN',
                        text : text + '\n' + reply + '\n' + replyInput + '\n' + replyBtn
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    var list = response.data.message.result.translatedText.split('\n');
                    for(var i = 1; i<= 6; i++) {
                        document.getElementById(i).textContent = list[i-1];
                    }
                    document.querySelector('div.replyArea h2').innerText = list[6];
                    document.querySelector('div.replybox input').placeholder = list[7];
                    document.querySelector('div.replybox button h4').innerText = list[8];
                })
            } else if(lang=="French") {
                var text = document.querySelector('div.menu_group').innerText;
                var reply = document.querySelector('div.replyArea h2').innerText;
                var replyInput = document.querySelector('div.replybox input').placeholder;
                var replyBtn = document.querySelector('div.replybox button h4').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'fr',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 6; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                        document.querySelector('div.replyArea h2').innerText = list[6];
                        document.querySelector('div.replybox input').placeholder = list[7];
                        document.querySelector('div.replybox button h4').innerText = list[8];
                    })
            } else if(lang=="Vietnam") {
                var text = document.querySelector('div.menu_group').innerText;
                var reply = document.querySelector('div.replyArea h2').innerText;
                var replyInput = document.querySelector('div.replybox input').placeholder;
                var replyBtn = document.querySelector('div.replybox button h4').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'vi',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 6; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                        document.querySelector('div.replyArea h2').innerText = list[6];
                        document.querySelector('div.replybox input').placeholder = list[7];
                        document.querySelector('div.replybox button h4').innerText = list[8];
                    })
            }
        }
        testTrans();
