html
    link(rel='stylesheet', href='/stylesheets/myProfile.css')
    head
        title Post List
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body 
        nav(class="nav")
                div(class="menu_group")
                    div(class="home")
                        a(href="../")
                            img(src="https://i.ibb.co/ZSJQwCr/home-page.pngg" alt="home" style="width:30px;height:30px;")
                    div(class="other")
                        a(id="1" href="../tutorList/") 튜터 찾기
                    div(class="other")
                        a(id="2" href="../post/") 질문/답변
                    div(class="other") 
                        a(id="3" href="../findPost/") 찾아요
                    div(class="other")
                        a(id="4" href="../tutoringList/") 멘토링 목록
                    div(class="other")
                        a(id="5" href="../requestList/") 받은 요청
                    div(class="other")
                        a(id="6" href="../sendList/") 보낸 요청
        div(class="profileBox")
            div(class="profileArea")
                div(class="ImageSector")
                    img(src="https://ajoring.kr/"+"#{userData.profileImage}" class="image")
                    div(class="nickname")
                        h4 #{userData.nickname}
                    div(class="email")
                        h4 #{userData.email}
                div(class="editProfile")
                    button(class="editBtn" onClick="editProfile()")
                        h4 프로필 수정
                div(class="UserSector")
                    div(class="name")
                        h3 이름
                        h4 #{userData.name}
                    div(class="department")
                        h3 소속학부
                        h4 #{userData.department}
                    div(class="userType")
                        h3 가입 유형
                        h4 #{userData.role}
                    div(class="tutorBtn")
                        button(onClick="openTutorProfile()") 
                            h4 튜터 프로필 보기
        div(class="myProfile")
            img(src="https://ajoring.kr/"+"#{userData.profileImage}" class="profileIcon")
            a(id="7" href=".") 내 프로필
    script(type="text/javascript").
        const editProfile = () => {
            document.location.href = './editProfile';
        }
        if("#{userData.name}".indexOf('%20') != -1){
            var newName = document.querySelector('div.name h4').textContent.split('%20');
            document.querySelector('div.name h4').textContent = "";
            for(var i = 0; i < newName.length;i++){
                document.querySelector('div.name h4').textContent += newName[i] + " ";
            }
        }
        if("#{userData.department}".indexOf('%20') != -1){
            var newName = document.querySelector('div.department h4').textContent.split('%20');
            document.querySelector('div.department h4').textContent = "";
            for(var i = 0; i < newName.length;i++){
                document.querySelector('div.department h4').textContent += newName[i] + " ";
            }
        }
        if("#{userData.role}" != 'TUTOR'){
            document.querySelector('div.tutorBtn').style.display = 'none';
        }
        const openTutorProfile = () => {
            document.location.href = './myTutorProfile';
        }
        const testTrans = () => {
            var lang = "#{userData.country}"
            var text = document.querySelector('div.menu_group').innerText;
            var text2 = document.querySelector('div.myProfile a').innerText;
            var editProfile = document.querySelector('div.editProfile button h4').innerText;
            var name = document.querySelector('div.name h3').innerText;
            var department = document.querySelector('div.department h3').innerText;
            var userType = document.querySelector('div.userType h3').innerText;
            var tutorBtn = document.querySelector('div.tutorBtn button h4').innerText;
            if(lang=="China") lang = "zh-CN";
            else if(lang=="Vietnam") lang = "vi";
               
                axios.get('https://ajoring.kr/translate',{
                    method: 'POST',
                    params: {
                        target : lang,
                        text : text + '\n' + text2 + '\n' + editProfile + '\n' + name + '\n' + department + '\n' + userType + '\n' + tutorBtn
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    var list = response.data.message.result.translatedText.split('\n');
                    console.log(list);
                    for(var i = 1; i<= 7; i++) {
                        document.getElementById(i).textContent = list[i-1];
                    }
                    document.querySelector('div.editProfile button h4').innerText = list[7];
                    document.querySelector('div.name h3').innerText = list[8];
                    document.querySelector('div.department h3').innerText = list[9];
                    document.querySelector('div.userType h3').innerText = list[10];
                    document.querySelector('div.tutorBtn button h4').innerText = list[11];
                })
        }
        testTrans();