html
    link(rel='stylesheet', href='/stylesheets/myProfile.css')
    head
        title Post List
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body 
        nav(class="nav")
                div(class="menu_group")
                    div(class="home")
                        a(href="../")
                            img(src="https://i.ibb.co/ZSJQwCr/home-page.pngg" alt="home" style="width:30px;height:30px;")
                    div(class="other")
                        a(id="1" href="../tutorList/") 튜터 찾기
                    div(class="other")
                        a(id="2" href="../post/") 질문/답변
                    div(class="other") 
                        a(id="3" href="../findPost/") 찾아요
                    div(class="other")
                        a(id="4" href="../tutoringList/") 멘토링 목록
                    div(class="other")
                        a(id="5" href="../requestList/") 받은 요청
                    div(class="other")
                        a(id="6" href="../sendList/") 보낸 요청
        div(class="profileBox")
            div(class="profileArea")
                div(class="ImageSector")
                    img(src="https://ajoring.kr/"+"#{user.profileImage}" class="image")
                    div(class="nickname")
                        h4 #{user.nickname}
                    div(class="email")
                        h4 #{user.email}
                div(class="editProfile")
                    button(class="editBtn" onClick="editTutorProfile()")
                        h4 프로필 수정
                div(class="UserSector")
                    div(class="tutorIntroduce")
                        h3 소개
                        h4 #{tutorProfile.introduce}
                    div(class="department")
                        h3 튜터 분야
                        h4 #{tutorProfile.tutorSector}
                    div(class="userType")
                        h3 가입 유형
                        h4 #{tutorProfile.tutorDates}
                    div(class="userType")
                        h3 선호 언어
                        h4 #{tutorProfile.preferenceCountry}
        div(class="myProfile")
            img(src="https://ajoring.kr/"+"#{user.profileImage}" class="profileIcon")
            a(id="7" href=".") 내 프로필
    script(type="text/javascript").
        const editTutorProfile = () => {
            document.location.href = "./editTutorProfile";
        }
        const testTrans = () => {
            var lang = "#{user.country}"
            if(lang=="China") {
               var text = document.querySelector('div.menu_group').innerText;
               var text2 = document.querySelector('div.myProfile a').innerText;
               console.log(text);
                axios.get('https://ajoring.kr/translate',{
                    method: 'POST',
                    params: {
                        target : 'zh-CN',
                        text : text +'\n' + text2
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    var list = response.data.message.result.translatedText.split('\n');
                    console.log(list);
                    for(var i = 1; i<= 7; i++) {
                        document.getElementById(i).textContent = list[i-1];
                    }
                })
            }  else if(lang=="Vietnam") {
                var text = document.querySelector('div.menu_group').innerText;
                var text2 = document.querySelector('div.myProfile a').innerText;
                    axios.get('https://ajoring.kr/translate',{
                        method: 'POST',
                        params: {
                            target : 'vi',
                            text : text +'\n' + text2
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 7; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                    })
            }
        }
        testTrans();