html
    link(rel='stylesheet', href='/stylesheets/post.css')
    head
        title Post List
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    body 
        nav(class="nav")
                div(class="menu_group")
                    div(class="home")
                        a(href="../")
                            img(src="https://i.ibb.co/ZSJQwCr/home-page.pngg" alt="home" style="width:30px;height:30px;")
                    div(class="other")
                        a(id="1" href="../tutorList/") 튜터 찾기
                    div(class="current")
                        a(id="2" href=".") 질문/답변
                    div(class="other") 
                        a(id="3" href="../findPost/") 찾아요
                    div(class="other")
                        a(id="4" href="../tutoringList/") 멘토링 목록
                    div(class="other")
                        a(id="5" href="../requestList/") 받은 요청
                    div(class="other")
                        a(id="6" href="../sendList/") 보낸 요청
        div(class="postBox")
            div(style="display:flex;flex-direction:column; width:80%; height:100%; margin-left:auto;margin-right:auto;")
                div(class="postAct")
                    input(class="search" onkeyup="searchPost()")
                    button(class="write" onClick="postWrite()")
                        h2 글쓰기
                div(class="postArea")
                    for item in rows
                        div(class="postList")
                            div(id = "post #{item.id}" class="postNext" onClick="onPostDetail(this.id)")
                                div(class="postTitle")
                                    h4 #{item.title}
                                div(class="postContent")
                                    h4 #{item.content}
                                div(class="postOwner_Count")
                                    div(class="postCount")
                                        h4 조회 수: #{item.count}
                                    div(class="postOwner")
                                        h4 작성자: #{item.nickname}
                            div(class="translate" style="margin-left:auto;")
                                img(id="#{item.id}" src="https://i.ibb.co/ypQQV2L/france.png" style="margin-right:10px;width:25px;height:25px;" onClick="transToFR(this.id)")
                                img(id="#{item.id}" src="https://i.ibb.co/6JY4t20/china.png" style="margin-right:10px;width:25px;height:25px;" onClick="transToCN(this.id)")
                                img(id="#{item.id}" src="https://i.ibb.co/yp5C8MF/vietnam.png" style="margin-right:10px;width:25px;height:25px;" onClick="transToVi(this.id)")
        div(class="myProfile")
            img(src="http://localhost:3000/"+"#{user.profileImage}" class="profileIcon")
            a(id="7" href="../myProfile/") 내 프로필
        
                
    script(type="text/javascript").
        var lang = 'ko';
        const onPostDetail = (id) => {
            var post_id = id.split(' ')[1];
            axios.get('http://localhost:3000/post/updateCount',{
                    method : 'POST',
                    params: {
                        post_id : post_id
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    console.log(response.data);
                })
            document.location.href = "./postDetail?post_id="+id.split(' ')[1];
            document.location.href="./postDetail?post_id="+post_id;
        }
        const searchPost = () => {
            var keyword = document.querySelector('div.postAct input').value;
            var newlist = document.getElementsByClassName('postList');
            for(var i = 0;i<newlist.length;i++) {
                var title = newlist[i].getElementsByClassName('postTitle')
                var Content = newlist[i].getElementsByClassName('postContent')
                if(title[0].innerHTML.toLowerCase().indexOf(keyword) != -1 || Content[0].innerHTML.toLowerCase().indexOf(keyword) != -1) {
                    newlist[i].style.display = "flex";
                } else {
                    newlist[i].style.display = "none";
                }
            }
        }
        const showDetail = (id) => {
                axios.get('http://localhost:3000/post/updateCount',{
                    method : 'POST',
                    params: {
                        post_id : id.split(' ')[1]
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    console.log(response.data);
                })
                document.location.href = "./postDetail?post_id="+id.split(' ')[1];
        }
        const postWrite = () => {
                document.location.href = "./write";
        }
            const transToCN = (id) => {
                var postList = document.getElementById('post '+id);
                var title = postList.querySelector('div.postTitle h4').textContent;
                var text = postList.querySelector('div.postContent h4').textContent;
                var count = postList.querySelector('div.postCount h4').textContent.split(':')[0];
                var writer = postList.querySelector('div.postOwner h4').textContent.split(':')[0];
                axios.get('http://localhost:3000/detect',{
                    method: 'POST',
                    params: {
                        text : text
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    if(response.data.langCode=='ko') {
                        axios.get('http://localhost:3000/innerTranslate',{
                        method: 'POST',
                        params: {
                            source : response.data.langCode,
                            target : 'zh-CN',
                            text : title + '\n' + text + '\n' + count + '\n' + writer
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response2=> {
                        var list = response2.data.message.result.translatedText.split('\n');
                        postList.querySelector('div.postTitle h4').textContent = list[0];
                        postList.querySelector('div.postContent h4').textContent = list[1];
                        postList.querySelector('div.postCount h4').textContent = list[2] + ':' + document.querySelector('div.postCount h4').textContent.split(':')[1];
                        postList.querySelector('div.postOwner h4').textContent = list[3] + ':' + document.querySelector('div.postOwner h4').textContent.split(':')[1];
                    })
                    } else {
                        console.log(response.data.langCode)
                        axios.get('http://localhost:3000/innerTranslate',{
                            method: 'POST',
                            params: {
                                source : response.data.langCode,
                                target : 'ko',
                                text : title + '\n' + text + '\n' + count + '\n' + writer
                            },
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }).then(response3=> {
                            var list = response3.data.message.result.translatedText.split('\n');
                            title =  postList.querySelector('div.postTitle h4').textContent = list[0];
                            text = postList.querySelector('div.postContent h4').textContent = list[1];
                            count = postList.querySelector('div.postCount h4').textContent = list[2] + ':' + postList.querySelector('div.postCount h4').textContent.split(':')[1];
                            writer = postList.querySelector('div.postOwner h4').textContent = list[3] + ':' + postList.querySelector('div.postOwner h4').textContent.split(':')[1];
                            axios.get('http://localhost:3000/innerTranslate',{
                            method: 'POST',
                            params: {
                                source : 'ko',
                                target : 'zh-CN',
                                text : title + '\n' + text + '\n' + count + '\n' + writer
                            },
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }).then(response4=> {
                            var list = response4.data.message.result.translatedText.split('\n');
                            postList.querySelector('div.postTitle h4').textContent = list[0];
                            postList.querySelector('div.postContent h4').textContent = list[1];
                            postList.querySelector('div.postCount h4').textContent = list[2];
                            postList.querySelector('div.postOwner h4').textContent = list[3];
                        })
                        })
                        
                    }
                })
            }
            const transToVi = (id) => {
                var postList = document.getElementById('post '+id);
                var title = postList.querySelector('div.postTitle h4').textContent;
                var text = postList.querySelector('div.postContent h4').textContent;
                var count = postList.querySelector('div.postCount h4').textContent.split(':')[0];
                var writer = postList.querySelector('div.postOwner h4').textContent.split(':')[0];
               axios.get('http://localhost:3000/detect',{
                    method: 'POST',
                    params: {
                        text : text
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    if(response.data.langCode=='ko') {
                        axios.get('http://localhost:3000/innerTranslate',{
                        method: 'POST',
                        params: {
                            source : response.data.langCode,
                            target : 'vi',
                            text : title + '\n' + text + '\n' + count + '\n' + writer
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response2=> {
                        var list = response2.data.message.result.translatedText.split('\n');
                        postList.querySelector('div.postTitle h4').textContent = list[0];
                        postList.querySelector('div.postContent h4').textContent = list[1];
                        postList.querySelector('div.postCount h4').textContent = list[2] + ':' + postList.querySelector('div.postCount h4').textContent.split(':')[1];
                        postList.querySelector('div.postOwner h4').textContent = list[3] + ':' + postList.querySelector('div.postOwner h4').textContent.split(':')[1];
                    })
                    } else {
                        axios.get('http://localhost:3000/innerTranslate',{
                            method: 'POST',
                            params: {
                                source : response.data.langCode,
                                target : 'ko',
                                text : title + '\n' + text + '\n' + count + '\n' + writer
                            },
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }).then(response3=> {
                            var list = response3.data.message.result.translatedText.split('\n');
                            title =  postList.querySelector('div.postTitle h4').textContent = list[0];
                            text = postList.querySelector('div.postContent h4').textContent = list[1];
                            count = postList.querySelector('div.postCount h4').textContent = list[2] + ':' + document.querySelector('div.postCount h4').textContent.split(':')[1];
                            writer = postList.querySelector('div.postOwner h4').textContent = list[3] + ':' + postList.querySelector('div.postOwner h4').textContent.split(':')[1];
                            axios.get('http://localhost:3000/innerTranslate',{
                            method: 'POST',
                            params: {
                                source : 'ko',
                                target : 'vi',
                                text : title + '\n' + text + '\n' + count + '\n' + writer
                            },
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }).then(response4=> {
                            var list = response4.data.message.result.translatedText.split('\n');
                            postList.querySelector('div.postTitle h4').textContent = list[0];
                            postList.querySelector('div.postContent h4').textContent = list[1];
                            postList.querySelector('div.postCount h4').textContent = list[2];
                            postList.querySelector('div.postOwner h4').textContent = list[3];
                        })
                        })
                        
                    }
                })
            }
        const transToFR = (id) => {
            var postList = document.getElementById('post '+id);
            var title = postList.querySelector('div.postTitle h4').textContent;
            var text = postList.querySelector('div.postContent h4').textContent;
            var count = postList.querySelector('div.postCount h4').textContent.split(':')[0];
            var writer = postList.querySelector('div.postOwner h4').textContent.split(':')[0];
            axios.get('http://localhost:3000/detect',{
                    method: 'POST',
                    params: {
                        text : text
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    if(response.data.langCode=='ko') {
                        axios.get('http://localhost:3000/innerTranslate',{
                        method: 'POST',
                        params: {
                            source : response.data.langCode,
                            target : 'fr',
                            text : title + '\n' + text + '\n' + count + '\n' + writer
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response2=> {
                        var list = response2.data.message.result.translatedText.split('\n');
                        postList.querySelector('div.postTitle h4').textContent = list[0];
                        postList.querySelector('div.postContent h4').textContent = list[1];
                        postList.querySelector('div.postCount h4').textContent = list[2] + ':' + postList.querySelector('div.postCount h4').textContent.split(':')[1];
                        postList.querySelector('div.postOwner h4').textContent = list[3] + ':' + postList.querySelector('div.postOwner h4').textContent.split(':')[1];
                    })
                    } else {
                        axios.get('http://localhost:3000/innerTranslate',{
                            method: 'POST',
                            params: {
                                source : response.data.langCode,
                                target : 'ko',
                                text : title + '\n' + text + '\n' + count + '\n' + writer
                            },
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }).then(response3=> {
                            axios.get('http://localhost:3000/innerTranslate',{
                            method: 'POST',
                            params: {
                                source : 'ko',
                                target : 'fr',
                                text : title + '\n' + text + '\n' + count + '\n' + writer
                            },
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }).then(response4=> {
                            var list = response4.data.message.result.translatedText.split('\n');
                            postList.querySelector('div.postTitle h4').textContent = list[0];
                            postList.querySelector('div.postContent h4').textContent = list[1];
                            postList.querySelector('div.postCount h4').textContent = list[2];
                            postList.querySelector('div.postOwner h4').textContent = list[3];
                        })
                        })
                        
                    }
                })
        }
        const testTrans = () => {
            var lang = "#{lang}"
            if(lang=="China") {
               var text = document.querySelector('div.menu_group').innerText;
               var writeBtn = document.querySelector('div.postAct button h2').innerText;
                axios.get('http://localhost:3000/translate',{
                    method: 'POST',
                    params: {
                        target : 'zh-CN',
                        text : text + '\n' + writeBtn
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    var list = response.data.message.result.translatedText.split('\n');
                    console.log(list);
                    for(var i = 1; i<= 6; i++) {
                        document.getElementById(i).textContent = list[i-1];
                    }
                    document.querySelector('div.postAct button h2').innerText = list[6];
                })
            } else if(lang=="French") {
                var text = document.querySelector('div.menu_group').innerText;
                var writeBtn = document.querySelector('div.postAct button h2').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'fr',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 6; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                        document.querySelector('div.postAct button h2').innerText = list[6];
                    })
            } else if(lang=="Vietnam") {
                var text = document.querySelector('div.menu_group').innerText;
                var writeBtn = document.querySelector('div.postAct button h2').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'vi',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 6; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                        document.querySelector('div.postAct button h2').innerText = list[6];
                    })
            }
        }
        testTrans();
