html
    link(rel='stylesheet', href='/stylesheets/post.css')
    head
        title Post List
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    body
        nav(class="nav")
            ul(class="navbar__menu")
                div(class="home")
                    a(href="../")
                        img(src="https://i.ibb.co/mzbZKrX/home-page.png" alt="home" style="width:30px;height:30px;")
                div(class="menu_group")
                    div(class="other")
                        a(href="../tutorList/") 튜터 찾기
                    div(class="current")
                        a(href="./") 질문 게시판
                    div(class="other")
                        a(href="../findPost/") 구인 게시판
                    div(class="other")
                        a(href="../tutoringList/") 튜터링 목록
                    div(class="other")
                        a(href="../requestList/") 요청 목록
        div(class="postBox")
            div(style="display:flex;flex-direction:column; width:80%; height:100%; margin-left:auto;margin-right:auto;")
                div(class="postAct")
                    div(class="SearchAct")
                        input(class="search")
                        img(src="https://i.ibb.co/932jcqF/loupe.png" style="width:30px; height:30px; margin-left:4px")
                    button(class="write" onClick="postWrite()")
                        h2 글쓰기
                div(class="postArea")
                    for item in rows
                        div(id = "#{item.id}" class="postList" onClick="showDetail(id)")
                            div(class="postTitle")
                                h1 #{item.title}
                            div(class="postContent")
                                h2 #{item.content}
                            div(class="postOwner_Count")
                                div(class="postCount")
                                    h2 조회 수 #{item.count}
                                div(class="postOwner")
                                    h2 작성자 : #{item.nickname}
                
    script(type="text/javascript").
        const showDetail = (id) => {
                console.log(id);
                document.location.href = "./postDetail?post_id="+id;
        }
        const postWrite = () => {
                document.location.href = "./write";
        }
