html
    link(rel='stylesheet', href='/stylesheets/requestList.css')
    head
        title Post List
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    body 
        nav(class="nav")
                div(class="menu_group")
                    div(class="home")
                        a(href="../")
                            img(src="https://i.ibb.co/ZSJQwCr/home-page.pngg" alt="home" style="width:30px;height:30px;")
                    div(class="other")
                        a(id="1" href="../tutorList/") 튜터 찾기
                    div(class="other")
                        a(id="2" href="../post/") 질문/답변
                    div(class="other") 
                        a(id="3" href="../findPost/") 찾아요
                    div(class="other")
                        a(id="4" href="../tutoringList/") 멘토링 목록
                    div(class="other")
                        a(id="5" href="../requestList/") 받은 요청
                    div(class="current")
                        a(id="6" href=".") 보낸 요청
        div(class="requestBox")
            -if(rows!=null)
                div(class="requestList") 
                    -for(var i=0;i<rows.length;i++)
                        div(class="request")
                            div(id="UserArea #{i}" class="UserArea")
                                td 요청자 : 
                                td #{rows[i].sendUser}
                                br
                                td 요청 대상 : 
                                td #{rows[i].targetUser}
                            div(id="Content #{i}" class="ContentArea")
                                td 요청 사항 :  
                                td #{rows[i].content}
        div(class="myProfile")
            img(src="http://localhost:3000/"+"#{user.profileImage}" class="profileIcon")
            a(id="7" href="../myProfile/") 내 프로필
    script(type="text/javascript").
        const testLoad = (id) => {
            const modal = document.getElementById("modal");
            modal.style.display = "flex";
        }
         const closeModal = () => {
            const modal = document.getElementById("modal");
            modal.style.display = "none";
        }
        const testTrans = () => {
            var lang = "#{lang}"
            if(lang=="China") {
               var text = document.querySelector('div.menu_group').innerText;
                axios.get('http://localhost:3000/translate',{
                    method: 'POST',
                    params: {
                        target : 'zh-CN',
                        text : text
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    var list = response.data.message.result.translatedText.split('\n');
                    for(var i = 1; i<= 6; i++) {
                        document.getElementById(i).textContent = list[i-1];
                    }
                })
            } else if(lang=="French") {
                var text = document.querySelector('div.menu_group').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'fr',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 6; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                    })
            } else if(lang=="Vietnam") {
                var text = document.querySelector('div.menu_group').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'vi',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 6; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                    })
            }
        }
        testTrans();
