html 
    head
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        title tutor List
        link(rel='stylesheet', href='/stylesheets/tutorList.css')
    body 
        nav(class="nav")
            ul(class="navbar__menu")
                div(class="home")
                    a(href="../")
                        img(src="https://i.ibb.co/mzbZKrX/home-page.png" alt="home" style="width:30px;height:30px;")
                div(class="menu_group")
                    div(class="current")
                        a(id="1" href="./") 튜터 찾기
                    div(class="other")
                        a(id="2" href="../post/") 질문/답변
                    div(class="other") 
                        a(id="3" href="../findPost/") 찾아요
                    div(class="other")
                        a(id="4" href="../tutoringList/") 멘토링 목록
                    div(class="other")
                        a(id="5" href="../requestList/") 받은 요청
                    div(class="other")
                        a(id="6" href="../sendList/") 보낸 요청
        div(class="profileBox")
            div(class="profileArea")
                div(class="searchTutor")
                    h2 검색 조건
                div(class="profiles")
                    -for(var i = 0; i<rows.length;i++)
                        button(id="btn #{i}" class="profileCard" onClick="showDetailPage(id)")
                            div(class="area1")
                                img(src="http://localhost:3000/"+"#{rows[i].profileImage}" class="mountImage")
                                tr()
                                    td() nickname : #{rows[i].nickname}
                                    br()                           
                                    td() name :  #{rows[i].name}
                                    br()
                                    td() email : #{rows[i].email}
                                    br()
                                    td() country : #{rows[i].country}

    script(type="text/javascript").
        let id;
        console.log("#{rows[0].profileImage}");
        const showDetailPage = (id) => {
            const btn = document.getElementById(id).querySelector("div.area1");
            const data = btn.innerText.split('\n');
            for(var i=0;i<data.length;i++){
                data[i] = data[i].split(': ')[1];
            }
            const email = {
                nickname : data[0],
                name : data[1],
                email : data[2],
                country : data[3],
            }
             axios.get('http://localhost:3000/user/getUserId',{
                    method: 'POST',
                    params: {
                        email : email.email,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }}).then(response => {
                    document.location.href="./tutorDetail?userId="+response.data.User_id;
            })
            console.log(id.User_id);
        }
        const testTrans = () => {
            var lang = "#{lang}"
            if(lang=="China") {
               var text = document.querySelector('div.menu_group').innerText;
                axios.get('http://localhost:3000/translate',{
                    method: 'POST',
                    params: {
                        target : 'zh-CN',
                        text : text
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response=> {
                    var list = response.data.message.result.translatedText.split('\n');
                    for(var i = 1; i<= 6; i++) {
                        document.getElementById(i).textContent = list[i-1];
                    }
                })
            } else if(lang=="French") {
                var text = document.querySelector('div.menu_group').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'fr',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 6; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                    })
            } else if(lang=="Vietnam") {
                var text = document.querySelector('div.menu_group').innerText;
                    axios.get('http://localhost:3000/translate',{
                        method: 'POST',
                        params: {
                            target : 'vi',
                            text : text
                        },
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response=> {
                        var list = response.data.message.result.translatedText.split('\n');
                        for(var i = 1; i<= 6; i++) {
                            document.getElementById(i).textContent = list[i-1];
                        }
                    })
            }
        }
        testTrans();

            