html 
    head 
        title request List
        link(rel='stylesheet', href='/stylesheets/requestList.css')
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    body
       nav(class="nav")
            ul(class="navbar__menu")
                div(class="home")
                    a(href="../")
                        img(src="https://i.ibb.co/mzbZKrX/home-page.png" alt="home" style="width:30px;height:30px;")
                div(class="menu_group")
                    div(class="other")
                        a(href="../tutorList/") 튜터 찾기
                    div(class="other")
                        a(href="../post/") 질문 게시판
                    div(class="other") 
                        a(href="../findPost/") 구인 게시판
                    div(class="current")
                        a(href="./") 튜터링 목록
                    div(class="other")
                        a(href="../requestList/") 요청 목록
        div(class="requestBox")
            -if(rows!=null) 
                -for(var i=0;i<rows.length;i++)
                    div(class="requestList")
                        div(id="UserArea #{i}" class="UserArea")
                            td Tutee : 
                            td #{rows[i].sendUser}
                            br
                            td Tutor : 
                            td #{rows[i].targetUser}
                        div(id="Content #{i}" class="ContentArea")
                            td Content : 
                            td #{rows[i].content}
